embed,iframe,object{
    max-width: 100%;
}

.jtpl-title .j-website-title-content{
    color : #fff;
    /* タイトル文字の縁取りと影 */
    text-shadow: rgba(0,0,0,0.8) 2px 2px 3px , 
            rgb(0,0,0) -1px 0 0,
            rgb(0,0,0) 1px 0 0,
            rgb(0,0,0) 0 -1px 0,
            rgb(0,0,0) 0 1px 0;
}

.cc-m-gallery-slider .bx-wrapper .bx-caption span{
    color : rgb(0,0,0)!important; /* 黒字 */
}

.cc-m-gallery-slider .bx-wrapper .bx-caption{
    background : rgba(255,255,255,0.5); /* 背景白、透過度５０％ */
}