
/*　RSSのタイトル */
.j-module .j-rss .rssFeedTitle{
    text-align: left;
}

/* RSSからの飛び先を_blankから_selfへ変更した場合に必要 */
.j-rss br + a, .j-rss br + a:link, .j-rss br + a:visited{
    color: #f7f8f8;
    background-color: #74A72D;
    border: 1px solid #74A72D;
    font-family: inherit;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 2px;
    box-sizing: border-box;
    margin: 16px 0;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    transition: background-color .3s ease-in,border-color .3s ease-in;
}

/* RSSのコンテンツの画像を改行して小さくする */
div.rssFeed img{
    display: block;
    width: 30%;
}
